# Oasis Sapphire Testnet Client Node
mode: client

common:
  data_dir: /app/node/data
  log:
    format: JSON
    level:
      default: info

genesis:
  file: /app/node/etc/genesis.json

consensus:
  tendermint:
    core:
      listen_address: tcp://0.0.0.0:26656
    p2p:
      seed:
        - "HcDFrTp/MqRHtju5bCx6TIhIMd6X/0ZQ3lUG73q5898=@35.247.24.212:26656"
        - "kqsc8ETIgG9LCmW5HhSEUW80WIpwKhS7hRQd8FrnkJ0=@34.140.116.202:26656"
