# Oasis Sapphire Testnet Client Node
mode: client

common:
  data_dir: /app/node/data
  log:
    format: JSON
    level:
      default: info

genesis:
  file: /app/node/etc/genesis.json

consensus:
  p2p:
    port: 9200
  tendermint:
    seeds:
      - "HcDFrTp/MqRHtju5bCx6TIhIMd6X/0ZQ3lUG73q5898=@35.247.24.212:26656"
      - "kqsc8ETIgG9LCmW5HhSEUW80WIpwKhS7hRQd8FrnkJ0=@34.140.116.202:26656"
