# Oasis Sapphire Testnet Client Node
mode: client

common:
  data_dir: /app/node/data
  log:
    format: JSON
    level:
      default: info

genesis:
  file: /app/node/etc/genesis.json

p2p:
  port: 9200
  seeds:
    - "05EAC99BB37F6DAAD4B13386FF5E087ACBDDC450@testnet-seed.oasis.io:26656"
